.ToDo-Input{
    background-position: left;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    
}

.ToDo-Input:focus {
    outline-color: rgb(255, 153, 0);
}

.input-container{
    position: relative;
}

i{
    position: absolute;
    left: 8px; 
    top: 50%; 
    transform: translateY(-50%);
    width: auto;
    height: auto;
    z-index: 1; /
}

.ToDo-Input[type="text"] {
    padding-left: 47px; 
    width: 300px; 
}

@media (min-width: 300px){
    .ToDo-Input{
        height: 30px;
    }

    .ToDo-Input[type="text"]{
        width: 220px;
    }
}

@media (min-width: 640px){
    .ToDo-Input{
        height: 20px;
    }
    .ToDo-Input[type="text"]{
        width: 220px;
    }
}

@media (min-width:768px){
    .ToDo-Input{
        height: 28px;
    }
}

@media (min-width:1024px){
    .ToDo-Input{
        height: 35px;
    }
    .ToDo-Input[type="text"]{
        width: 280px;
    }
}
  
  
  
