.ToDo-Input{
    background-position: left;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.ToDo-Input:focus {
    outline-color: #378ab4;;
}

.input-container{
    position: relative;
}

i{
    position: absolute;
    left: 8px; 
    top: 50%; 
    transform: translateY(-50%);
    width: auto;
    height: auto;
    z-index: 1; /
}

.ToDo-Input[type="text"] {
    padding-left: 47px; 
    width: 300px; 
}

@media screen and (max-width: 769px){
    .ToDo-Input{
        height: 25px;
    }
    .ToDo-Input[type="text"]{
        width: 260px;
    }
} 
  
  
  
