#root{
  height: max-content;
}

body{
  background: radial-gradient(circle, #d6d438, #cf66ff);
}

#modal{
  display: flex;
  position: absolute;
  top: 200px;
  left: 760px;
}

@keyframes miAnimacion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ToDo-form-active{
  animation: miAnimacion 0.3s ease-in-out;
}

@media (max-width: 769px){
  #modal{
    left: 1px;
    z-index: 1;
  }

  .ToDo-form-active {
    box-shadow: -3px 0px 400px 200px rgba(0,0,0,0.67);
    -webkit-box-shadow: -3px 0px 400px 200px rgba(0,0,0,0.67);
    -moz-box-shadow: -3px 0px 400px 200px rgba(0,0,0,0.67);;
  }

 
}